# New York Times API Key
NYTIMES_API_KEY=your-new-york-times-api-key

# Azure OpenAI Endpoint
ENDPOINT_URL=your-azure-openai-endpoint

# Azure OpenAI Deployment Name
DEPLOYMENT_NAME=your-azure-openai-deployment-name

# Azure OpenAI API Key
AZURE_OPENAI_API_KEY=your-azure-openai-api-key